*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
}
.container{

    height: 100vh;
    background-color: #263198;
    display:flex;
    align-items: center;
    justify-content: space-between;

}
.container__apresentation{
    position: absolute;
    left: 165px;
    top: 150px;

    display: flex;
    flex-direction: column;
}
.container__logo{
 
    position: relative;
    left: 0;
    top: 20px;
    margin-left: 0;
    height: 60px;
    margin-bottom: 70px;

}
.container__text{
    font-size: 30px;
    margin-top: 20px;
    color:#ffffff;
}
.container__model{
    position: absolute;
    right: 30px;
    height: 500px;
}

.container__button a{
    position: absolute;
    width: 352px;
    height: 94px;
    left: 165px;
    top: 534px;

    padding: 30px;

    border: none;
    border-radius: 10px;
    background-color: #D99C00;
    box-shadow: 5px 2px 5px 2px rgba(0, 0, 0, 0.2);

    display: flex;
    align-items: center;
    justify-content: space-between;


    margin: auto;
    bottom: 250px;
}

.container__button a:hover{
    background-color: #940099;
    transition: .3s;
}

.container__button--image{
    position: absolute;
    left: 32px;
}
.container__button h3{

    position: absolute;
    right: 32px;
    font-size: 40px;
    color: white;

}


